[submodule "vendor/socket.io"]
	path = vendor/socket.io
	url = git://github.com/LearnBoost/socket.io.git
[submodule "vendor/backbone.js"]
	path = vendor/backbone.js
	url = git://github.com/documentcloud/backbone.git
[submodule "vendor/underscore.js"]
	path = vendor/underscore.js
	url = git://github.com/documentcloud/underscore.git
[submodule "vendor/jquery"]
	path = vendor/jquery
	url = git://github.com/documentcloud/underscore.git
[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
