<section class="row memory-login">
    <div class="span4">
        <form action="#" class="form-inline">
        <div class="control-group">
            <div class="controls">
                <input type="text" id="username" required="required" placeholder="Username" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="password" id="password" required="required" placeholder="Password" />
            </div>
        </div>

        <div>
            <input type="submit" id="submit" class="btn-primary" value="Login" />
        </div>
        </form>
    </div>
</section>