<section class="row memory-login">
    <div class="span4">
        <form action="#" class="form-inline memory-login-form" method="post">
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="username" required="required" placeholder="Username" />
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="password" id="password" required="required" placeholder="Password" />
                </div>
            </div>

            <div>
                <input type="submit" id="submit" class="btn-primary" value="Login" />
            </div>

            <div id="showError" class="alert alert-error hide" style="margin-top:15px;"></div>
        </form>
    </div>
</section>