/**
 * memory.js App styles
 *
 */
@import "../../../vendor/bootstrap/less/bootstrap.less";

body {
    padding-top: 60px;
    padding-bottom: 40px;
    footer {
        padding: 11px;
        #gradient > .vertical(#52575c, #3a3f44);
        color: @white;
    }
}

.memory-login {
  margin: auto;
}
#container .active {
  border: 3px solid #9d261d;
  margin: 2px;
}
img.card {
  height: 100px;
  max-width: none;
}
div.card {
  margin: 5px;
  height: 100px;
  width: 100px;
}
tr.row {
    height: 35px;
}
tr.row td {
    padding-left: 15px;
}

tr.row td:last-child {
    padding-right: 15px;
}

tr.row td input {
    margin-bottom: 0px;
}

tr.row:nth-child(even) {background: #CCC}
tr.row:nth-child(odd) {background: #FFF}

