/**
 * memory.js App styles
 *
 */
@import "../../../vendor/bootstrap/less/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.row {
        clear: both;
}

.row .cell {
        float: left;
}

.cell {
        overflow: hidden;
        height: 100px;
        width: 100px;
        margin: 5px;
}

.active {
        border: 3px solid red;
        margin: 2px;
}

img.card {
    height: 100px;
    max-width: none;
}

